matplotlib==3.7.5
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.3
progress==1.6
protobuf==5.28.2
py-spy==0.3.14
pyaml==24.9.0
pycocotools==2.0.7
PyYAML==6.0.2
seaborn==0.13.2
six==1.16.0
tensorboard==2.12.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tqdm==4.66.5
